<template name="registration">
	<div class="container">
		<form><br><br>
			<label for="username">Enter User name</label><br>
			<input type="text" name="username" id="username"> <br>
			<label for="useremail">Enter email</label><br>
			<input type="email" name="useremail" id="useremail"><br>
			<label for="userpassword">Enter password</label><br>
			<input type="password" name="userpassword" id="userpassword"><br><br>
			<input type="submit" name=" register" value="register" id="submit-registration" class="btn btn-primary ">
		</form>
	</div>
</template>

<template name="login">
	<form>
		<input type="email" name="useremail" id="useremail-login" placeholder="enter email">
		<input type="password" name="userpassword" id="userpassword-login" placeholder="password">
		<input type="submit" name=" register" value="login" class="btn btn-primary ">
	</form>
</template>

<template name="logout">
	<p> <a href="#" class="logout btn btn-default">Logout</a></p>
</template>