 <template name="header">
 <div class="header container">
	 <div class="row">
	    <h1>Pizza Day</h1>
	    
	 
  	{{#if currentUser}}
    		<p>{{>logout}}</p>
  	{{else}}
        {{>login}} 
        <button class="btn btn-primary gotoregistration">Registration</button>
  	{{/if}}
  		 </div>
  </div>
  </template>