<template name="groups">
	<button class="btn btn-primary" id="creategroup">Create Group</button>
     <h2>Chose your group</h2>
    <ul>{{#each group in grouplist}}
      <li><a href="#" class="">{{ group.groupname}}</a></li>
        <li><a href="#" class="">{{ group.admin}}</a></li>
    {{/each}}
	</ul>
</template>